extend layout
block content
      // main content start
      section#main-content
        section.wrapper
          .row.mt
            .col-lg-6.col-md-6.col-sm-12
              .showback
                h4
                  i.fa.fa-angle-right
                  |  Basic Buttons
                button.btn.btn-default(type='button') Default
                button.btn.btn-primary(type='button') Primary
                button.btn.btn-success(type='button') Success
                button.btn.btn-info(type='button') Info
                button.btn.btn-warning(type='button') Warning
                button.btn.btn-danger(type='button') Danger
              // /showback
              .showback
                h4
                  i.fa.fa-angle-right
                  |  Buttons Round
                button.btn.btn-round.btn-default(type='button') Default
                button.btn.btn-round.btn-primary(type='button') Primary
                button.btn.btn-round.btn-success(type='button') Success
                button.btn.btn-round.btn-info(type='button') Info
                button.btn.btn-round.btn-warning(type='button') Warning
                button.btn.btn-round.btn-danger(type='button') Danger
              // /showback
              .showback
                h4
                  i.fa.fa-angle-right
                  |  Theme Buttons
                // Standard button
                button.btn.btn-theme(type='button') Theme
                button.btn.btn-theme02(type='button') Theme 02
                button.btn.btn-theme03(type='button') Theme 03
                button.btn.btn-theme04(type='button') Theme 04
              // /showback
              .showback
                h4
                  i.fa.fa-angle-right
                  |  Buttons Group
                .btn-group
                  button.btn.btn-default(type='button') Left
                  button.btn.btn-default(type='button') Middle
                  button.btn.btn-default(type='button') Right
              // /showback
              .showback
                h4
                  i.fa.fa-angle-right
                  |  Button Nesting
                .btn-group
                  button.btn.btn-default(type='button') 1
                  button.btn.btn-default(type='button') 2
                  .btn-group
                    button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                      | Dropdown
                      span.caret
                    ul.dropdown-menu
                      li
                        a(href='#') Dropdown link
                      li
                        a(href='#') Dropdown link
              // /showback
              .showback
                h4
                  i.fa.fa-angle-right
                  |  Split Buttons
                // Split button
                .btn-group
                  button.btn.btn-theme03(type='button') Action
                  button.btn.btn-theme03.dropdown-toggle(type='button', data-toggle='dropdown')
                    span.caret
                    span.sr-only Toggle Dropdown
                  ul.dropdown-menu(role='menu')
                    li
                      a(href='#') Action
                    li
                      a(href='#') Another action
                    li
                      a(href='#') Something else here
                    li.divider
                    li
                      a(href='#') Separated link
              // /showback
            .col-lg-6.col-md-6.col-sm-12
              .showback
                h4
                  i.fa.fa-angle-right
                  |  Buttons Sizes
                p
                  button.btn.btn-primary.btn-lg(type='button') Large button
                  button.btn.btn-default.btn-lg(type='button') Large button
                p
                  button.btn.btn-primary(type='button') Default button
                  button.btn.btn-default(type='button') Default button
                p
                  button.btn.btn-primary.btn-sm(type='button') Small button
                  button.btn.btn-default.btn-sm(type='button') Small button
                p
                  button.btn.btn-primary.btn-xs(type='button') Extra small button
                  button.btn.btn-default.btn-xs(type='button') Extra small button
              // /showback
              // BUTTON BLOCK
              .showback
                h4
                  i.fa.fa-angle-right
                  |  Block Buttons
                button.btn.btn-primary.btn-lg.btn-block(type='button') Block level button
                button.btn.btn-default.btn-lg.btn-block(type='button') Block level button
              // /showback
              // JUSTIFIED BUTTONS
              .showback
                h4
                  i.fa.fa-angle-right
                  |  Justified Buttons
                .btn-group.btn-group-justified
                  .btn-group
                    button.btn.btn-theme(type='button') Left
                  .btn-group
                    button.btn.btn-theme(type='button') Middle
                  .btn-group
                    button.btn.btn-theme(type='button') Right
              // /showback
              // DROPDOWN BUTTONS
              .showback
                h4
                  i.fa.fa-angle-right
                  |  Dropdown Buttons
                // Single button
                .btn-group
                  button.btn.btn-theme.dropdown-toggle(type='button', data-toggle='dropdown')
                    | Action 
                    span.caret
                  ul.dropdown-menu(role='menu')
                    li
                      a(href='#') Action
                    li
                      a(href='#') Another action
                    li
                      a(href='#') Something else here
                    li.divider
                    li
                      a(href='#') Separated link
                // Single button
                .btn-group
                  button.btn.btn-theme04.dropdown-toggle(type='button', data-toggle='dropdown')
                    | Action 
                    span.caret
                  ul.dropdown-menu(role='menu')
                    li
                      a(href='#') Action
                    li
                      a(href='#') Another action
                    li
                      a(href='#') Something else here
                    li.divider
                    li
                      a(href='#') Separated link
              // /showback
              // BUTTONS WITH ICONS
              .showback
                h4
                  i.fa.fa-angle-right
                  |  Buttons With Icons
                button.btn.btn-theme(type='button')
                  i.fa.fa-cog
                  |  Button
                button.btn.btn-theme02(type='button')
                  i.fa.fa-check
                  |  Button
                button.btn.btn-theme04(type='button')
                  i.fa.fa-heart
                  |  Button
              // /showback
            // /col-lg-6
          // / row
      // /MAIN CONTENT
      // main content end
      // footer start
        // script for this page
        script.
          //custom select box
          $(function(){
          $('select.styled').customSelect();
          });
