extend layout
block content
      // main content start
      section#main-content
        section.wrapper
          h3
            i.fa.fa-angle-right
            |  Chartjs Charts
          // page start
          #chartjs.tab-pane
            .row.mt
              .col-lg-6
                .content-panel
                  h4
                    i.fa.fa-angle-right
                    |  Doughnut
                  .panel-body.text-center
                    canvas#doughnut(height='300', width='400')
              .col-lg-6
                .content-panel
                  h4
                    i.fa.fa-angle-right
                    |  Line
                  .panel-body.text-center
                    canvas#line(height='300', width='400')
            .row.mt
              .col-lg-6
                .content-panel
                  h4
                    i.fa.fa-angle-right
                    |  Radar
                  .panel-body.text-center
                    canvas#radar(height='300', width='400')
              .col-lg-6
                .content-panel
                  h4
                    i.fa.fa-angle-right
                    |  Polar Area
                  .panel-body.text-center
                    canvas#polarArea(height='300', width='400')
            .row.mt
              .col-lg-6
                .content-panel
                  h4
                    i.fa.fa-angle-right
                    |  Bar
                  .panel-body.text-center
                    canvas#bar(height='300', width='400')
              .col-lg-6
                .content-panel
                  h4
                    i.fa.fa-angle-right
                    |  Pie
                  .panel-body.text-center
                    canvas#pie(height='300', width='400')
          // page end
      // /MAIN CONTENT
      // main content end
        // js placed at the end of the document so the pages load faster
       
        // script for this page
        script(src='assets/js/chart-master/Chart.js')
        script(src='assets/js/chartjs-conf.js')
        script.
          //custom select box
          $(function(){
          $('select.styled').customSelect();
          });
