extend layout
block content
      // main content start
      section#main-content
        section.wrapper.site-min-height
          h3
            i.fa.fa-angle-right
            |  Gallery
          hr
          .row.mt
            .col-lg-4.col-md-4.col-sm-4.col-xs-12.desc
              .project-wrapper
                .project
                  .photo-wrapper
                    .photo
                      a.fancybox(href='/img/portfolio/port04.jpg')
                        img.img-responsive(src='/img/portfolio/port04.jpg', alt='')
                    .overlay
            // col-lg-4
            .col-lg-4.col-md-4.col-sm-4.col-xs-12.desc
              .project-wrapper
                .project
                  .photo-wrapper
                    .photo
                      a.fancybox(href='/img/portfolio/port05.jpg')
                        img.img-responsive(src='/img/portfolio/port05.jpg', alt='')
                    .overlay
            // col-lg-4
            .col-lg-4.col-md-4.col-sm-4.col-xs-12.desc
              .project-wrapper
                .project
                  .photo-wrapper
                    .photo
                      a.fancybox(href='/img/portfolio/port06.jpg')
                        img.img-responsive(src='/img/portfolio/port06.jpg', alt='')
                    .overlay
            // col-lg-4
          // /row
          .row.mt
            .col-lg-4.col-md-4.col-sm-4.col-xs-12.desc
              .project-wrapper
                .project
                  .photo-wrapper
                    .photo
                      a.fancybox(href='/img/portfolio/port01.jpg')
                        img.img-responsive(src='/img/portfolio/port01.jpg', alt='')
                    .overlay
            // col-lg-4
            .col-lg-4.col-md-4.col-sm-4.col-xs-12.desc
              .project-wrapper
                .project
                  .photo-wrapper
                    .photo
                      a.fancybox(href='/img/portfolio/port02.jpg')
                        img.img-responsive(src='/img/portfolio/port02.jpg', alt='')
                    .overlay
            // col-lg-4
            .col-lg-4.col-md-4.col-sm-4.col-xs-12.desc
              .project-wrapper
                .project
                  .photo-wrapper
                    .photo
                      a.fancybox(href='/img/portfolio/port03.jpg')
                        img.img-responsive(src='/img/portfolio/port03.jpg', alt='')
                    .overlay
            // col-lg-4
          // /row
          .row.mt.mb
            .col-lg-4.col-md-4.col-sm-4.col-xs-12.desc
              .project-wrapper
                .project
                  .photo-wrapper
                    .photo
                      a.fancybox(href='/img/portfolio/port04.jpg')
                        img.img-responsive(src='/img/portfolio/port04.jpg', alt='')
                    .overlay
            // col-lg-4
            .col-lg-4.col-md-4.col-sm-4.col-xs-12.desc
              .project-wrapper
                .project
                  .photo-wrapper
                    .photo
                      a.fancybox(href='/img/portfolio/port05.jpg')
                        img.img-responsive(src='/img/portfolio/port05.jpg', alt='')
                    .overlay
            // col-lg-4
            .col-lg-4.col-md-4.col-sm-4.col-xs-12.desc
              .project-wrapper
                .project
                  .photo-wrapper
                    .photo
                      a.fancybox(href='/img/portfolio/port06.jpg')
                        img.img-responsive(src='/img/portfolio/port06.jpg', alt='')
                    .overlay
            // col-lg-4
          // /row
      // /MAIN CONTENT
      // main content end

        // js placed at the end of the document so the pages load faster
        script(src='/js/fancybox/jquery.fancybox.js')
        // script for this page
        script(type='text/javascript').
          $(function() {
          //    fancybox
          jQuery(".fancybox").fancybox();
          });
        script.
          //custom select box
          $(function(){
          $("select.styled").customSelect();
          });
