extend layout.pug
block content
      // main content start
      section#main-content
        section.wrapper
          h3
            i.fa.fa-angle-right
            |  List Video
          .row
            .col-md-12
              .content-panel
                h4
                  i.fa.fa-angle-right
                  |  Basic Table
                hr
                //Video Table
                table.table
                  thead
                    tr
                      th Index
                      th Video Name
                      th Url
                      th #
                  tbody
                    - var tableIndex = 1
                    - var temp_url = HostUrl + '/playvideo/'
                    each vid in video
                      tr
                        td #{tableIndex++}
                        td #{vid.name}
                        td #{temp_url + vid.name}
                        td
                          button.btn.btn-default.btn-xs
                           a(href=('playvideo' + vid.path)) Play 
      // /MAIN CONTENT      
      // script for this page
      script.
        //custom select box
        $(function(){
        $('select.styled').customSelect();
        });
