extend layout
block content
      // main content start
      section#main-content
        section.wrapper.site-min-height
          h3
            i.fa.fa-angle-right
            |  Blank Page
          .row.mt
            .col-lg-12
              p Place your content here.
      // /MAIN CONTENT
      // main content end

        script(src='assets/js/jquery-ui-1.9.2.custom.min.js')
        script(src='assets/js/jquery.ui.touch-punch.min.js')
        // script for this page
        script.
          //custom select box
          $(function(){
          $('select.styled').customSelect();
          });
