extend layout
block content
  // main content start
  section#main-content
    section.wrapper
      .row.mt
        .col-lg-6.col-md-6.col-sm-12
          .showback
            h4
              i.fa.fa-angle-right
              |  Basic Progress Bars
            .progress
              .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: 40%')
                span.sr-only 40% Complete (success)
            .progress
              .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100', style='width: 20%')
                span.sr-only 20% Complete
            .progress
              .progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%')
                span.sr-only 60% Complete (warning)
            .progress
              .progress-bar.progress-bar-danger(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width: 80%')
                span.sr-only 80% Complete
          // /showback
          .showback
            h4
              i.fa.fa-angle-right
              |  Stripped Progress Bars
            .progress.progress-striped
              .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: 40%')
                span.sr-only 40% Complete (success)
            .progress.progress-striped
              .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100', style='width: 20%')
                span.sr-only 20% Complete
            .progress.progress-striped
              .progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%')
                span.sr-only 60% Complete (warning)
            .progress.progress-striped
              .progress-bar.progress-bar-danger(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width: 80%')
                span.sr-only 80% Complete (danger)
          // /showback
          .showback
            h4
              i.fa.fa-angle-right
              |  Animated Progress Bars
            .progress.progress-striped.active
              .progress-bar(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 45%')
                span.sr-only 45% Complete
          // /showback
          .showback
            h4
              i.fa.fa-angle-right
              |  Modal Example
            // Button trigger modal
            button.btn.btn-success.btn-lg(data-toggle='modal', data-target='#myModal')
              | Launch Modal
            // Modal
            #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
              .modal-dialog
                .modal-content
                  .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    h4#myModalLabel.modal-title Modal title
                  .modal-body
                    | Hi there, I am a Modal Example for Dashgum Admin Panel.
                  .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Close
                    button.btn.btn-primary(type='button') Save changes
          // /showback
          .showback
            h4
              i.fa.fa-angle-right
              |  Gritter Examples
            p Click on below buttons to check it out.
            a#add-regular.btn.btn-default.btn-sm(href='javascript:;') Regular
            a#add-sticky.btn.btn-success.btn-sm(href='javascript:;') Sticky
            a#add-without-image.btn.btn-info.btn-sm(href='javascript:;') Imageless
            a#add-gritter-light.btn.btn-warning.btn-sm(href='javascript:;') Light
            a#remove-all.btn.btn-danger.btn-sm(href='general.html#') Remove all
          // /showback
        .col-lg-6.col-md-6.col-sm-12
          .showback
            h4
              i.fa.fa-angle-right
              |  Alerts Examples
            .alert.alert-success
              b Well done!
              |  You successfully read this important alert message.
            .alert.alert-info
              b Heads up!
              |  This alert needs your attention, but it's not super important.
            .alert.alert-warning
              b Warning!
              |  Better check yourself, you're not looking too good.
            .alert.alert-danger
              b Oh snap!
              |  Change a few things up and try submitting again.
          // /showback
          .showback
            h4
              i.fa.fa-angle-right
              |  Dismissable Alert
            .alert.alert-warning.alert-dismissable
              button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
              strong Warning!
              |  Better check yourself, you're not looking too good.
          // /showback
          .showback
            h4
              i.fa.fa-angle-right
              |  Badges
            span.badge 5
            span.badge.bg-primary 10
            span.badge.bg-success 15
            span.badge.bg-info 20
            span.badge.bg-inverse 25
            span.badge.bg-warning 30
            span.badge.bg-important 35
          // /showback
          .showback
            h4
              i.fa.fa-angle-right
              |  Labels
            span.label.label-default label
            span.label.label-primary Primary
            span.label.label-success Success
            span.label.label-info Info
            span.label.label-warning Warning
            span.label.label-danger Danger
          // /showback
        // /col-lg-6
      // / row
  // /MAIN CONTENT
  // main content end